* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    overflow: hidden;
  }
  
  .webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  @font-face {
    font-family: nunitoSansRegular;
    src: url(assets/Courier_Prime/CourierPrime-Regular.ttf)
  }

  h1 {
    font-family: nunitoSansRegular;
    color: white;
    font-size: 3em
  }

  main {
    width: 100vw;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 100px;
  }